.menu-container {
  width: 100%;
  display: flex;
  padding: 20px;
  justify-content: center;
}

.menu-container .route-link:not(:first-child) {
  margin-left: 20px;
}

.menu-container .route-link {
  text-decoration: none;
  color: #333;
  font-weight: 600;
}

.menu-container .route-link.active {
  color: #0066cc;
  text-decoration: underline;
}

.menu-container .route-link:hover {
  text-decoration: underline;

}

.home-container {
  width: 100%;
  display: flex;
  justify-content: center;
  padding-top: 50px;
}

.text-container {
  margin-left: 20px;
  overflow-x: scroll;
  max-height: 300px;
}

.stats-container {
  padding: 10px 0 10px 0;
}

.text-label {
  margin: 0 20px;
  font-weight: 600;
}

.select-list {
  padding: 5px;
  cursor: pointer;
}

.list-container {
  padding: 20px;
}

.perf-measures-container {
  width: 400px;
  display: flex;
  justify-content: flex-start;
}

.perf-measures-container span {
  margin-right: 10px;
  width: 100%;
}